* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: $very-dark-blue-BG;
}

a {
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: #A2A6AD;
    margin-bottom: 0.625rem;
}

.attribution a {
    color: #7DAAD7;
}

